integrations/n8n/nhambi-carolline-leads.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd83d8bf-d63f-4161-a97b-ad38095d3ae6",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://paesegregori.casaortegaimoveis.com.br"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        960
      ],
      "id": "301aae1c-9d1a-4938-b3da-c17297db7952",
      "name": "Receber Lead da Landing",
      "webhookId": "bd83d8bf-d63f-4161-a97b-ad38095d3ae6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-spreadsheet-id",
              "name": "config.spreadsheetId",
              "value": "13y_9C-c3rQ6MYaIxPFOzpivG338EvpjDbF7WbcKY3aM",
              "type": "string"
            },
            {
              "id": "cfg-sheet-name",
              "name": "config.sheetName",
              "value": "Página1",
              "type": "string"
            },
            {
              "id": "cfg-evo-base-url",
              "name": "config.evolutionBaseUrl",
              "value": "https://evo.figueiramarketing.com.br",
              "type": "string"
            },
            {
              "id": "cfg-evo-instance",
              "name": "config.evolutionInstance",
              "value": "Guilherme014",
              "type": "string"
            },
            {
              "id": "cfg-whatsapp-recipient",
              "name": "config.whatsappRecipient",
              "value": "5511919890615",
              "type": "string"
            },
            {
              "id": "cfg-project-name",
              "name": "config.projectName",
              "value": "={{ $json.body.form_name || 'Nhambí Moema' }}",
              "type": "string"
            },
            {
              "id": "lead-id",
              "name": "id",
              "value": "={{ $json.body.id || Date.now() + '-' + Math.random().toString(36).substring(2,8) }}",
              "type": "string"
            },
            {
              "id": "lead-created-time",
              "name": "created_time",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "lead-ad-id",
              "name": "ad_id",
              "value": "={{ $json.body.ad_id || '' }}",
              "type": "string"
            },
            {
              "id": "lead-ad-name",
              "name": "ad_name",
              "value": "={{ $json.body.ad_name || '' }}",
              "type": "string"
            },
            {
              "id": "lead-adset-id",
              "name": "adset_id",
              "value": "={{ $json.body.adset_id || '' }}",
              "type": "string"
            },
            {
              "id": "lead-adset-name",
              "name": "adset_name",
              "value": "={{ $json.body.adset_name || '' }}",
              "type": "string"
            },
            {
              "id": "lead-campaign-id",
              "name": "campaign_id",
              "value": "={{ $json.body.campaign_id || '' }}",
              "type": "string"
            },
            {
              "id": "lead-campaign-name",
              "name": "campaign_name",
              "value": "={{ $json.body.campaign_name || '' }}",
              "type": "string"
            },
            {
              "id": "lead-form-id",
              "name": "form_id",
              "value": "={{ $json.body.form_id || '' }}",
              "type": "string"
            },
            {
              "id": "lead-form-name",
              "name": "form_name",
              "value": "={{ $json.body.form_name || '' }}",
              "type": "string"
            },
            {
              "id": "lead-is-organic",
              "name": "is_organic",
              "value": "={{ $json.body.is_organic === undefined ? true : $json.body.is_organic }}",
              "type": "boolean"
            },
            {
              "id": "lead-platform",
              "name": "platform",
              "value": "={{ $json.body.platform || ($json.body.utm_source ? String($json.body.utm_source).toLowerCase().replace(/[^a-z0-9_-]/g, '_') : 'website') }}",
              "type": "string"
            },
            {
              "id": "lead-nome-completo",
              "name": "nome_completo",
              "value": "={{ $json.body.name || '' }}",
              "type": "string"
            },
            {
              "id": "lead-telefone",
              "name": "telefone",
              "value": "={{ (() => { let d = ($json.body.phone || '').replace(/\\D/g, ''); if (d.length === 11 && d.startsWith('0')) { d = d.substring(1); } if ((d.length === 10 || d.length === 11) && !d.startsWith('55')) { d = '55' + d; } return d; })() }}",
              "type": "string"
            },
            {
              "id": "lead-email",
              "name": "email",
              "value": "={{ $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "lead-inbox-url",
              "name": "inbox_url",
              "value": "={{ $json.body.inbox_url || '' }}",
              "type": "string"
            },
            {
              "id": "lead-status",
              "name": "lead_status",
              "value": "={{ $json.body.lead_status || 'novo' }}",
              "type": "string"
            },
            {
              "id": "lead-interest",
              "name": "interest",
              "value": "={{ $json.body.interest || '' }}",
              "type": "string"
            },
            {
              "id": "lead-best-contact-time",
              "name": "best_contact_time",
              "value": "={{ $json.body.schedule || $json.body.purchase_timeline || '' }}",
              "type": "string"
            },
            {
              "id": "lead-message",
              "name": "message",
              "value": "={{ $json.body.message || '' }}",
              "type": "string"
            },
            {
              "id": "lead-utm-source",
              "name": "utm_source",
              "value": "={{ $json.body.utm_source || '' }}",
              "type": "string"
            },
            {
              "id": "lead-utm-medium",
              "name": "utm_medium",
              "value": "={{ $json.body.utm_medium || '' }}",
              "type": "string"
            },
            {
              "id": "lead-utm-campaign",
              "name": "utm_campaign",
              "value": "={{ $json.body.utm_campaign || '' }}",
              "type": "string"
            },
            {
              "id": "lead-utm-content",
              "name": "utm_content",
              "value": "={{ $json.body.utm_content || '' }}",
              "type": "string"
            },
            {
              "id": "lead-utm-term",
              "name": "utm_term",
              "value": "={{ $json.body.utm_term || '' }}",
              "type": "string"
            },
            {
              "id": "lead-fbclid",
              "name": "fbclid",
              "value": "={{ $json.body.fbclid || '' }}",
              "type": "string"
            },
            {
              "id": "lead-landing-url",
              "name": "landing_url",
              "value": "={{ $json.body.landing_url || '' }}",
              "type": "string"
            },
            {
              "id": "lead-referrer",
              "name": "referrer",
              "value": "={{ $json.body.referrer || '' }}",
              "type": "string"
            },
            {
              "id": "lead-telefone-valido",
              "name": "telefone_valido",
              "value": "={{ (($json.body.phone || '').replace(/\\D/g, '')).length >= 10 && (($json.body.phone || '').replace(/\\D/g, '')).length <= 13 }}",
              "type": "boolean"
            },
            {
              "id": "lead-event-type",
              "name": "event_type",
              "value": "={{ $json.body.event_type || 'lead_form_submit' }}",
              "type": "string"
            },
            {
              "id": "lead-is-qualified-update",
              "name": "is_qualified_update",
              "value": "={{ ($json.body.event_type || 'lead_form_submit') === 'qualified_whatsapp_click' }}",
              "type": "boolean"
            },
            {
              "id": "lead-whatsapp-qualificacao",
              "name": "whatsapp_qualificacao",
              "value": "={{ ($json.body.event_type || '') === 'qualified_whatsapp_click' ? 'QUENTE - clicou no WhatsApp pós-formulário' + ($json.body.qualified_whatsapp_clicked_at ? ' em ' + $json.body.qualified_whatsapp_clicked_at : '') : ($json.body.qualified_whatsapp_status || 'PENDENTE - formulário enviado, ainda não clicou no WhatsApp pós-formulário') }}",
              "type": "string"
            },
            {
              "id": "lead-temperature",
              "name": "lead_temperature",
              "value": "={{ $json.body.lead_temperature || ((($json.body.event_type || '') === 'qualified_whatsapp_click') ? 'hot' : 'warm') }}",
              "type": "string"
            },
            {
              "id": "lead-qualified-whatsapp-clicked",
              "name": "qualified_whatsapp_clicked",
              "value": "={{ ($json.body.event_type || '') === 'qualified_whatsapp_click' || $json.body.qualified_whatsapp_clicked === true }}",
              "type": "boolean"
            },
            {
              "id": "lead-qualified-whatsapp-clicked-at",
              "name": "qualified_whatsapp_clicked_at",
              "value": "={{ $json.body.qualified_whatsapp_clicked_at || '' }}",
              "type": "string"
            },
            {
              "id": "lead-fbp",
              "name": "fbp",
              "value": "={{ $json.body.fbp || null }}",
              "type": "string"
            },
            {
              "id": "lead-fbc",
              "name": "fbc",
              "value": "={{ $json.body.fbc || null }}",
              "type": "string"
            },
            {
              "id": "lead-user_agent",
              "name": "user_agent",
              "value": "={{ $json.body.user_agent || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        944
      ],
      "id": "dae74c7d-a9d5-461a-979c-0411d34470ea",
      "name": "Configurar e Normalizar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.config.spreadsheetId }}/values/{{ encodeURIComponent($json.config.sheetName) }}!A:AB:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            },
            {
              "name": "insertDataOption",
              "value": "INSERT_ROWS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [[ $json.id, $json.created_time, $json.ad_id, $json.ad_name, $json.adset_id, $json.adset_name, $json.campaign_id, $json.campaign_name, $json.form_id, $json.form_name, $json.is_organic, $json.platform, $json.nome_completo, $json.telefone, $json.email, $json.inbox_url, $json.lead_status, $json.interest, $json.best_contact_time, $json.whatsapp_qualificacao, $json.utm_source, $json.utm_medium, $json.utm_campaign, $json.utm_content, $json.utm_term, $json.fbclid, $json.landing_url, $json.referrer ]] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        1088
      ],
      "id": "910de787-9f75-49d9-b97b-3f0304c6d3ea",
      "name": "Gravar Lead na Planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EAmgSEYv1oajSfCs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validar-telefone-landing",
              "leftValue": "={{ $('Configurar e Normalizar').item.json.telefone_valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        1088
      ],
      "id": "5ff3c0a8-39ed-4fb9-a63d-77d76ddbfe59",
      "name": "Validar Telefone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configurar e Normalizar').item.json.config.evolutionBaseUrl }}/message/sendText/{{ $('Configurar e Normalizar').item.json.config.evolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLE_AQUI_A_APIKEY_DA_EVOLUTION_NO_N8N"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Configurar e Normalizar').item.json.config.whatsappRecipient, text: '🟢 *NOVO LEAD - LANDING PAGE*\\n\\n🏢 *Projeto:* ' + $('Configurar e Normalizar').item.json.config.projectName + '\\n👤 *Nome:* ' + $('Configurar e Normalizar').item.json.nome_completo + '\\n📱 *Telefone:* ' + $('Configurar e Normalizar').item.json.telefone + '\\n🎯 *Interesse:* ' + $('Configurar e Normalizar').item.json.interest + '\\n⏳ *Prazo para adquirir:* ' + ($('Configurar e Normalizar').item.json.best_contact_time || 'Não informado') + '\\n🔥 *Qualificação WhatsApp:* ' + $('Configurar e Normalizar').item.json.whatsapp_qualificacao + '\\n🌐 *Plataforma:* ' + ($('Configurar e Normalizar').item.json.platform || 'website') + '\\n🔗 *UTMs:* source=' + ($('Configurar e Normalizar').item.json.utm_source || '-') + ' | medium=' + ($('Configurar e Normalizar').item.json.utm_medium || '-') + ' | campaign=' + ($('Configurar e Normalizar').item.json.utm_campaign || '-') + ' | content=' + ($('Configurar e Normalizar').item.json.utm_content || '-') + ' | term=' + ($('Configurar e Normalizar').item.json.utm_term || '-') + '\\n📣 *Anúncio:* ' + ($('Configurar e Normalizar').item.json.ad_name || 'Não identificado') + '\\n🎯 *Campanha:* ' + ($('Configurar e Normalizar').item.json.campaign_name || 'Orgânico/direto') + '\\n🕐 *Data:* ' + $('Configurar e Normalizar').item.json.created_time } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        1008
      ],
      "id": "7cd22321-8004-457d-aea1-38d20f653bd2",
      "name": "Enviar WhatsApp para Carolline"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Configurar e Normalizar').item.json.config.spreadsheetId }}/values/{{ encodeURIComponent($('Configurar e Normalizar').item.json.config.sheetName) }}!Q{{ $('Gravar Lead na Planilha').item.json.updates.updatedRange.split('!')[1].match(/\\d+/)[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [[\"ENVIADO\"]]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        1008
      ],
      "id": "77e8126e-3765-43fa-bac0-b8d643de3c12",
      "name": "Marcar como ENVIADO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EAmgSEYv1oajSfCs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Configurar e Normalizar').item.json.config.spreadsheetId }}/values/{{ encodeURIComponent($('Configurar e Normalizar').item.json.config.sheetName) }}!Q{{ $('Gravar Lead na Planilha').item.json.updates.updatedRange.split('!')[1].match(/\\d+/)[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [[\"DADOS INCORRETOS\"]]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        1248
      ],
      "id": "01fa91e2-ac25-47ae-a000-1acf0dff8a1d",
      "name": "Marcar DADOS INCORRETOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EAmgSEYv1oajSfCs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, lead_id: $('Configurar e Normalizar').item.json.id, status: 'ENVIADO' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        1008
      ],
      "id": "793eed9f-2c97-41da-a37f-db5fcfe1c4f8",
      "name": "Responder Sucesso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, lead_id: $('Configurar e Normalizar').item.json.id, status: 'DADOS INCORRETOS', error: 'Telefone inválido' } }}",
        "options": {
          "responseCode": 422
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        1248
      ],
      "id": "e2c2fe83-4e29-4f1b-bdc0-8adac0715aaa",
      "name": "Responder Telefone Inválido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "evento-clique-whatsapp-qualificado",
              "leftValue": "={{ $json.is_qualified_update }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        944
      ],
      "id": "1a1db797-97a3-43b0-9f67-c66b25ce1701",
      "name": "Classificar Evento"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.config.spreadsheetId }}/values/{{ encodeURIComponent($json.config.sheetName) }}!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        784
      ],
      "id": "9a7e5652-3497-40a9-a178-5312ca854d1c",
      "name": "Buscar Protocolos na Planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EAmgSEYv1oajSfCs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Configurar e Normalizar').item.json;\nconst rows = $input.first().json.values ?? [];\nconst rowIndex = rows.findIndex((row) => row?.[0] === lead.id);\nif (rowIndex < 0) throw new Error('Protocolo não encontrado na planilha: ' + lead.id);\nreturn [{ json: { ...lead, sheet_row: rowIndex + 1 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        784
      ],
      "id": "e6ac998a-a939-4d09-a37e-758b8f93ca78",
      "name": "Localizar Linha do Lead"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.config.spreadsheetId }}/values/{{ encodeURIComponent($json.config.sheetName) }}!T{{ $json.sheet_row }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [[ $json.whatsapp_qualificacao ]] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        784
      ],
      "id": "018160bc-bfa9-45d0-9bd8-8494d7933ca4",
      "name": "Marcar Lead Quente na Planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EAmgSEYv1oajSfCs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, lead_id: $('Configurar e Normalizar').item.json.id, status: 'QUALIFICADO' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1488,
        784
      ],
      "id": "6c7881dd-0ed6-480b-9e14-6c94f2bcdf5b",
      "name": "Responder Qualificação WhatsApp"
    },
    {
      "id": "capi-meta-lead-001",
      "name": "CAPI - Meta Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1308
      ],
      "parameters": {
        "jsCode": "const lead = $('Configurar e Normalizar').item.json;\nconst crypto = require('crypto');\nconst hash = s => crypto.createHash('sha256').update(String(s||'')).digest('hex');\nconst ud = { ph: [hash(lead.telefone)] };\nif (lead.fbp) ud.fbp = lead.fbp;\nif (lead.fbc) ud.fbc = lead.fbc;\nif (lead.user_agent) ud.client_user_agent = lead.user_agent;\nconst payload = { data: [{ event_name:'Lead', event_time: Math.floor(Date.now()/1000), event_id: lead.id, event_source_url:'https://paesegregori.casaortegaimoveis.com.br/nhambi-moema/carolline/', action_source:'website', user_data: ud, custom_data:{ content_name:'Nhambí Moema', content_category:'Imóvel Alto Padrão', lead_type:'form_submit' } }], access_token: $env.META_ACCESS_TOKEN };\ntry { const r = await fetch('https://graph.facebook.com/v19.0/1904138550276441/events',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(payload)}); return [{json:{capi:await r.json(),event_id:lead.id}}]; } catch(e) { return [{json:{capi_error:e.message,event_id:lead.id}}]; }"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "capi-meta-contact-001",
      "name": "CAPI - Meta Contact Quente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        1004
      ],
      "parameters": {
        "jsCode": "const lead = $('Configurar e Normalizar').item.json;\nconst crypto = require('crypto');\nconst hash = s => crypto.createHash('sha256').update(String(s||'')).digest('hex');\nconst ud = { ph: [hash(lead.telefone)] };\nif (lead.fbp) ud.fbp = lead.fbp;\nif (lead.fbc) ud.fbc = lead.fbc;\nconst eid = 'contact_hot_' + lead.id;\nconst payload = { data: [{ event_name:'Contact', event_time: Math.floor(Date.now()/1000), event_id: eid, event_source_url:'https://paesegregori.casaortegaimoveis.com.br/nhambi-moema/carolline/', action_source:'website', user_data: ud, custom_data:{ content_name:'Nhambí Moema', lead_temperature:'hot', lead_type:'qualified_whatsapp' } }], access_token: $env.META_ACCESS_TOKEN };\ntry { const r = await fetch('https://graph.facebook.com/v19.0/1904138550276441/events',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(payload)}); return [{json:{capi:await r.json(),event_id:eid}}]; } catch(e) { return [{json:{capi_error:e.message,event_id:eid}}]; }"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configurar e Normalizar').item.json.config.evolutionBaseUrl }}/message/sendText/{{ $('Configurar e Normalizar').item.json.config.evolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLE_AQUI_A_APIKEY_DA_EVOLUTION_NO_N8N"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Configurar e Normalizar').item.json.config.whatsappRecipient, text: `🔥 *LEAD QUENTE - LANDING PAGE*\n\n🏢 *Projeto:* {{ $('Configurar e Normalizar').item.json.config.projectName }}\n👤 *Nome:* {{ $('Configurar e Normalizar').item.json.nome_completo }}\n📱 *Telefone:* {{ $('Configurar e Normalizar').item.json.telefone }}\n🎯 *Interesse:* {{ $('Configurar e Normalizar').item.json.interest }}\n⏳ *Prazo:* {{ $('Configurar e Normalizar').item.json.best_contact_time || 'Não informado' }}\n✅ *Status:* QUENTE — clicou no WhatsApp pós-formulário\n📲 *Link WhatsApp:* {{ $('Configurar e Normalizar').item.json.inbox_url || '' }}\n🌐 *Plataforma:* {{ $('Configurar e Normalizar').item.json.platform }}\n🔗 *UTMs:* source={{ $('Configurar e Normalizar').item.json.utm_source || '-' }} | medium={{ $('Configurar e Normalizar').item.json.utm_medium || '-' }} | campaign={{ $('Configurar e Normalizar').item.json.utm_campaign || '-' }}\n📣 *Anúncio:* {{ $('Configurar e Normalizar').item.json.ad_name || 'Não identificado' }}\n🕐 *Data:* {{ $('Configurar e Normalizar').item.json.created_time }}` } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1448,
        784
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Notificar Lead Quente WhatsApp",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Receber Lead da Landing": {
      "main": [
        [
          {
            "node": "Configurar e Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar e Normalizar": {
      "main": [
        [
          {
            "node": "Classificar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Evento": {
      "main": [
        [
          {
            "node": "Buscar Protocolos na Planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gravar Lead na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Protocolos na Planilha": {
      "main": [
        [
          {
            "node": "Localizar Linha do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Localizar Linha do Lead": {
      "main": [
        [
          {
            "node": "Marcar Lead Quente na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Lead Quente na Planilha": {
      "main": [
        [
          {
            "node": "Notificar Lead Quente WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "CAPI - Meta Contact Quente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Lead na Planilha": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          },
          {
            "node": "CAPI - Meta Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp para Carolline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar DADOS INCORRETOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp para Carolline": {
      "main": [
        [
          {
            "node": "Marcar como ENVIADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como ENVIADO": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar DADOS INCORRETOS": {
      "main": [
        [
          {
            "node": "Responder Telefone Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Lead Quente WhatsApp": {
      "main": [
        [
          {
            "node": "Responder Qualificação WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc3109b0a76a3f267f211b32ac812ab64e60f87cd8ee65b6e2bc9697df709359"
  },
  "name": "Landing Nhambi Carolline - Lead para Sheets e WhatsApp",
  "settings": {
    "executionOrder": "v1"
  }
}